# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log